<div class="h-full flex flex-col justify-center">
  <h2 class="text-3xl font-bold">Contacto</h2>
  <p class="my-5">
    Soy muy accesible y estaría encantado de conversar con usted. Sientase libre de escribirme al WhatsApp o enviarme un mensaje a mi correo electronico. O bien puede llenar el formulario para enviarme su consulta.
  </p>
  <div class="mt-16">
    <div class="flex mb-3"><contact-icon-whatsapp-svg /> <a class="ml-2" href="">+506 7254-8544</a></div>
    <div class="flex"><contact-icon-email-svg /> <a class="ml-2" href="">viniciochavarria27 - @gmail</a></div>
  </div>
</div>
