<div class="w-[300px]">
    <div class="dcard">
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>

<div class="paracard" [ngStyle]="{'backgroundImage': 'url('+urlImage+')'}">
  <div class="frame">
    <h2>Last moon, first sun</h2>
  </div>
</div>
    </div>
</div>
