<div class="flex gap-5">
  <div>
    <shared-angular-svg></shared-angular-svg>
  </div>
  <div class="react-container">
    <span class="reactjs"><shared-reactjs-svg></shared-reactjs-svg></span>
    <div class="vanishOut">
      <shared-redux-svg></shared-redux-svg>
    </div>
  </div>
  <shared-html-svg></shared-html-svg>
  <div class="relative">
    <div class="css">
      <shared-css-svg></shared-css-svg>
    </div>
    <div class="bootstrap">
      <shared-bootstrap-svg></shared-bootstrap-svg>
    </div>
    <div class="tailwindcss">
      <shared-tailwindcss-svg></shared-tailwindcss-svg>
    </div>
  </div>
  <div class="javascript">
    <div class="relative z-10">
      <shared-js-svg></shared-js-svg>
    </div>
    <div class="node">
      <shared-nodejs-svg></shared-nodejs-svg>
    </div>
  </div>
  <div class="gitHub">
    <div class="git-index">
      <shared-svg-github [fill]="'#fff'" [about]="true" [size]="size"></shared-svg-github>
    </div>
    <div class="git">
      <shared-git-svg></shared-git-svg>
    </div>
  </div>
</div>
