.my_scroll {
  scrollbar-color: teal rgb(49, 47, 44);
  scrollbar-width: none;
  scroll-behavior: smooth;
  scrollbar-gutter: "none";
}

.my_scroll::-webkit-scrollbar-track{
  background: rgb(49, 47, 44);
  border-radius: 10px;
  display: none;
}

.my_scroll::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 10px;
  display: none;
}

@keyframes noShow {
  from{
    opacity: 1;
    scale: 100%;
  }
  to{
    opacity: 0;
    scale: 25%;
  }
}
