<div class="px-5">
  <h2 class="text-3xl font-bold my-5">Sobre <span class="text-teal">mí</span></h2>
  <p class="w-11/12">
    Entusiasta de la programación y el desarrollo de software para la web, enfocado en el diseño frontend ubicado en Costa Rica. Autodidacta con muchas ganas de enfrentar nuevos retos, desarrollo sitios web con diseños intuitivos para el usuario, adaptados a distintos dispositivos (Móvil primero). Me gusta mucho la estética y la atención a los detalles para generar una experiencia de usuario agradable.
  </p>

  <h2 class="text-3xl font-bold my-5">Tecnologías</h2>
  <about-dev-tools></about-dev-tools>
</div>
